/* Additional indent for form-group because label will move up */
:root {
    --mi-animation-speed: 0.314s;
    --mi-label-default-color: rgba(0, 0, 0, 0.314);
    --mi-indent-top: 15px;
    --mi-indent-left:12px;

    --mi-label-focus-color: dodgerblue;
    --mi-invalid-color: firebrick;
    --mi-bg-color: white; /* should match parent container color */
}

.material-form-group {
    margin-top: var(--mi-indent-top);
    position: relative;
}

/* Move placeholder up on focus and by default (when it is not empty) */
/* .material-form-group input:placeholder-shown + label ---- will overwrite it when empty */

.material-form-group label {
    position: absolute;
    transform-origin: 0 150%;
    margin-left: var(--mi-indent-left);
    transition: var(--mi-animation-speed);
    -webkit-user-select: none;
    user-select: none;
    color: var(--mi-label-default-color);
}

/* The only way to handle if input field is not empty - detect by :placeholder-shown :(( */
.material-form-group input:placeholder-shown + label {
    top: 50%;
    transform: scale(1, 1) translateY(-50%);
    background: transparent;
}

/* Remove placeholders text. Placeholder should not be empty. */
.material-form-group input::-webkit-input-placeholder {
    color: transparent;
}

.material-form-group input:focus + label {
    color: var(--mi-label-focus-color);
}

.material-form-group input:focus + label,
.material-form-group label {
    top: -100%;
    transform: scale(0.8, 0.8) translateY(100%);
    background: var(--mi-bg-color);
}

/* Validation Failed */
.material-form-group input:invalid + label:after {
    color: var(--mi-invalid-color);
    content: "(invalid)";
    margin-left: 0.314rem;
}